# the path which contains a single merged pdf containing all the SDL files
PDF_PATH = "C:\Users\Intern\Downloads\SDL_files.pdf"

# The path that contains tessdata.
TESS_DATA_PATH = "C:\Users\Intern\AppData\Local\Programs\Tesseract-OCR/tessdata"

# The folder that we are going to use as the script's runtime root.
# The split SDL files will be created and put here.
RUNTIME_PARENT_DIR = "C:\Users\Intern\Downloads"

# the folder for our ocr debugging script (optional, but if it breaks just paste whatever pdf file here)
DEBUG_PDF_PATH = "C:\Users\Intern\Downloads\SDLsplit_20260706_180050\SDL_ABC PTE. LTD..pdf"